$color-primary: #fff;
$color-primary-light: #fff;
$color-primary-dark: #fff;

$color-secondary: #fff;
$color-secondary-light: #fff;
$color-secondary-dark: #fff;

$color-tertiary: #fff;
$color-tertiary-light: #fff;
$color-tertiary-dark: #fff;
